
{% extends "AppPortofino/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->

<section>
    <div>
        <h1>Este es el título del Inicio que cambio</h1>
    
            <p>Se ha heredado todo desde la plantilla padre</p>
    
        <ul>
        {% for wine in vinos %}
            <li>{{ wine.nombre }}, {{ wine.bodega }}, {{ wine.año }} </li>
        {% endfor %}
        </ul>
    </div>
</section>

        


{% endblock %}
